<h1>Listing sections</h1>

<table>

<% @sections.each do |section| %>
	<%= section.list_id %>

	<% if section.items.length >= 1 %>
		<tr>
			<td>
			<%= section.section_name %>
			</td>
			<td>
			<%= link_to 'Edit', edit_section_path(section) %>
			</td>
		</tr>
			
				<% @items.each do |item| %>

						  <% if item.section_id == section.id %> 
						<tr>
							<td>
							 	&nbsp;&nbsp;&nbsp;&nbsp;<%= item.item_name %>
							</td>
						    <td>
						     <%= link_to 'Edit', edit_item_path(item) %>
						    </td>
						</tr>
				 		 <% end %>
					
				<% end %>
	<% end %>
<% end %>
</table>
<%= link_to "New Section", :controller => "sections", :action => "new", :list_id=>@list.id %><br />
<%= link_to "New Item", :controller => "items", :action => "new" %>
