<p id="notice"><%= notice %></p>

<p>
  <b>Section name:</b>
  <%= @section.section_name %>
</p>

<b>Items</b>
<ul>
<% @section.items.each do |a| %>
 <% if a.item_name != '' %>
<li><%= a.item_name %></li>
 <% end %>
<% end %>
</ul>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to "Back to List", :controller => "sections", :action => "list" %>
