<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @item.item_name %>
</p>

<p>
  <b>Section:</b>
  <%= @item.section.section_name %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to "Back to List", :controller => "sections", :action => "list" %>
